aside.sidebar
    .top_bar
        p.logo
            i.iconfont.icon-95b
        i.iconfont.icon-7cd.toggle_another_form
    ul.menu
        - each menu in menus
            if menu.url
                li(class={active: curPage === '#{menu.id}'})
                    a(href='http://192.168.1.108:9211/page/#{menu.dir === "common" ? menu.url : menu.url+"_"+menu.dir }')
                        i(class="iconfont icon-#{menu.icon}")
                        span.title #{menu.title}
                        span.arrow
            else
                li(class={active: curPage === '#{menu.id}'})
                    a(href='javascript:;')
                        i(class="iconfont icon-#{menu.icon}")
                        span.title #{menu.title}
                        span.arrow
                    ul.sub_menu
                        - each item in menu.items
                            li
                                a.title(href='http://192.168.1.108:9211/page/#{item.dir === "common" ? item.url : item.url+"_"+item.dir }') #{item.title}
